@import 'jcarousel';
.slider {
    @extend .wrap;
    margin-top: 40px;
}

.slider-text {
    position: absolute;
    left: 36px;
    bottom: 60px;
    color: #ffffff;
    font-size: 54px;
    line-height: 52px;
    z-index: 100000;
}

.slider-text1 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 156px;
    height: 106px;
    padding: 0 25px 0 25px;
}

.slider-text2 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 247px;
    height: 91px;
    padding: 0 25px 0 25px;
}

.slider-text p {
    position: relative;
    top: 20px;
}

.slider-text:first-line {
    color: #f4b60d;
}