.partners {
    @extend .wrap;
    padding: 80px 0 90px 0;
    text-align: center;
    img {
        display: inline-block;
        width: 16.2%;
    }
}

@media screen and (max-width: 768px) {
    .partners {
        padding: 20px 0 20px 0;
        img {
            display: inline-block;
            width: 29%;
        }
    }
}