.services_background_grey {
    background-color: #2a2d32;
    padding-top: 45px;
    padding-bottom: 70px;
}

.services {
    @extend .wrap;
}

.services__title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 55px;
}

.service {
    width: 23.25%;
    margin-right: 2%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    div {
        position: relative;
    }
    .service_hover {
        position: absolute;
        display: none;
    }
    img {
        width: 100%;
    }
    p {
        display: inline-block;
        margin-top: 30px;
    }
}

.service:last-child {
    margin-right: 0;
}

.service:hover {
    .service_hover {
        display: block;
    }
    p {
        color: #f4b60d;
    }
}

@media screen and (max-width: 1160px) {
    .service {
        width: 23.1%;
    }
}

@media screen and (max-width: 768px) {
    .service {
        width: 48.6%;
          p {
            margin-bottom: 30px;
        }
    }
    .service:nth-child(3) {
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .service {
        width: 48.4%;
    }
}

@media screen and (max-width: 360px) {
    .services {
        text-align: center;
    }
    .service {
        width: 90%;
        margin: 0 auto;
        p {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 320px) {
    .services {
        width: 320px;
    }
    .services_background_grey {
        padding-bottom: 45px;
    }
}