@import 'reset';
@import 'font-ubuntu-m';
@import 'font-ubuntu-c';
$font-main: 'Ubuntu Medium',
sans-serif;
$font-menu: 'Ubuntu Condensed Regular',
sans-serif;
.text-common {
    font-family: $font-main;
    line-height: 20px;
}

.wrap {
    @extend .text-common;
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

.absolute_center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@import 'header';
@import 'slider';
@import 'advantages';
@import 'services';
@import 'news_banners';
@import 'partners';
@import 'footer';
@media screen and (max-width: 1160px) {
    .wrap {
        width: 100%;
    }
}